.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1920px;
  grid-template-areas:
  "e e"
  "e e"
  "c c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
body {
    font-family: 'Times New Roman', Times, serif;
}